<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.privateinternetaccess.android">
    <application>

        <receiver android:name=".receivers.UpdateCheckReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" /> <!-- HTC boot notification -->
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.FetchUpdateReceiver">
            <intent-filter>
                <action android:name="com.privateinternetaccess.android.FETCH_UPDATE"/>
            </intent-filter>
        </receiver>

    </application>


</manifest>